#lo
{
    width: auto;
    height: 100px;
    background-color:black;
    color: white;
    font-size: 40px;
    text-align: center;
}

#me
{
width: auto;
height: 3250px;
background-color: gray;
color: white;
text-align:center
}

#end
{
    width: auto;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    
}

#con
{
    background-color:violet;
}